{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "jsxBracketSameLine": true,
  "vueIndentProps": true,
  "organizeImportsSkipDestructiveCodeActions": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "customPrettierPlugin": "long-imports"
      }
    }
  ]
}
